# Django/UI
Django
django-environ

# Devops
psycopg2
gunicorn
django_smtp_ssl

## Storage
django-storages
boto3

# Celery
redis
celery
django-celery-beat

# Django REST Framework
djangorestframework
django-filter
markdown
